* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(18, 17, 46);
}
.wapper {
  width: 100%;
  height: 100%;
}
.back {
  background-position: bottom;
  background-size: contain;
  margin-top: 16%;
  width: 100%;
  opacity: 1;
  position: relative;
}
.space {
  position: absolute;

  z-index: 99999;

  margin: 10rem 9rem;
  display: flex;
}
.leftside {
  float: left;
  max-width: 27rem;
  padding: 2rem;
  min-height: 10rem;
  flex: 0 0 40%;
  border-top-right-radius: 100px;
  background-color: rgb(25, 25, 77);
}
.rightside {
  background-color: rgb(25, 25, 77);
  width: 30rem;
  min-height: 10rem;
  float: right;
  flex: 1;
  margin-left: 2rem;
  padding: 2rem;
  color: white;
  border-radius: 20px;
}
.usage {
  width: 7rem;
  height: 3.5rem;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  margin-left: 40rem;
  padding: 0.8rem;
  margin-top: -1rem;
}
.back1 {
  opacity: 0;
}
.text {
  margin-top: 2rem;
  letter-spacing: 3px;
}
.color {
  margin: 1rem 0;
  width: 20rem;
  height: 1rem;
  border-radius: 100px;
  border: 3px solid rgb(46, 46, 165);
  position: relative;
  z-index: 1;
}
.color2 {
  background-image: linear-gradient(
    to right bottom,
    rgb(173, 141, 80),
    rgb(216, 150, 216)
  );
  width: 15rem;
  height: 0.7rem;
  border-radius: 100px;
  position: absolute;
}
.doc {
  display: flex;
  padding: 2rem;
  position: relative;
}
.doo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.9rem;
  padding: 0.5rem;
  border-radius: 3px;
  background-color: rgb(17, 17, 61);
}

@media only screen and (max-width: 1507px) {
  .space {
    margin: 7rem 3rem;
  }
  .back {
    background-size: cover;
    background-position: bottom;
  }
}
@media only screen and (max-width: 1350px) {
  .space {
    margin: 9rem 1rem;
  }
}
@media only screen and (max-width: 1210px) {
  .space {
    margin: 9rem 0.3rem;
  }
  .rightside {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .back1 {
    opacity: 0;
    background-repeat: repeat;
  }
  .back {
    opacity: 0;
  }
  .space {
    display: inline-block;
    padding: 2rem;
  }
  .leftside {
    width: 50rem;
  }
  .rightside {
    width: 50rem;
    margin-top: 2rem;
  }
  .usage {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .back {
    display: none;
    opacity: 1;
  }
}
