*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    display: flex;
}
.leftside{
    flex: 0 0 55%;
    float: left;
    width:30% ;
    height: 100vh;
    position: fixed;
    background-color: rgb(231, 65, 23);
}
h1{
    padding: 5rem 2rem;
}
.nav{
    text-decoration: none;
    padding: .2rem 3rem;
    list-style: none;
}
li:not(:last-child){
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    list-style: none;
    text-decoration: none;
    color: white;   
}
a:hover,
a:active{
    color: black;
    border: 2px solid white;
    background-color: #fff;
    padding: .9rem 3rem;
}

/*************rightside******************/
.rightside{

    width: 70%;
    float: right;
}
.wapper{
margin-left: 2rem;
margin-right: 2rem;
}
h2{
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 1200;
}
h3{
   margin: 1rem 0;
   color: rgb(231, 65, 23);
   font-size: 3rem;
   font-weight: 1000;
}
.daush{
   content: "";
   width: 10%;
   border-radius: 100px;
   height: 1rem;
  background-color: rgb(231, 65, 23);
   
}
.designes{
margin-top: 1rem;
}
.design{
    width: 49%;
    margin: .1rem;
}
.design:hover{
    opacity: .7;
}
.design:active{
    width: 100%;
    height: auto;
}
.text{
    color: rgb(104, 90, 90);
    font-size: 1.2rem;
    margin-top: 2rem;
}
.detail{
    display: flex;
}
.details{
    padding: 1rem;
}
.persons{
    width: 100%;
    height: 12rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

/*******************wapper****************/

.left{
    min-height: 30vh;
    width: 49%;
    float: left;
    margin-right: 1rem;
    background-color: rgba(207, 205, 205, 0.932);
}
.right{
    width: 49%;
    float: right;
    background-color: rgba(207, 205, 205, 0.932);
    min-height: 30vh;
    margin-bottom: 1rem;
}
li{
    list-style: none;
    text-decoration: none;
}
ul,li{
    padding: 1.3rem;
   
}
.center{
    background-color: rgb(231, 65, 23) ;
    text-align: center;
    color: white;
    font-feature-settings: "c2pc";
    font-size: 2rem;
}
.centerpart{
    text-align: center;
    font-size: 2rem;
}

.btn,.btn1{
    border: none;
    outline: none;
    padding: 1rem 3rem;
    background-color: transparent;
    font-size: 1.2rem;
    
}
.btn:hover,
.btn:active{
    color: white;
background-color: rgb(231, 65, 23)  ;
}
.center1{
    text-align: center;
    background-color: rgb(78, 73, 73);
    color: white;
    font-feature-settings: "c2pc";
    font-size: 2rem;
}
.btn1{
    background-color: rgb(54, 52, 52);
    color: white;
}
.btn1:hover,
.btn1:active{
    color: black;
    background-color: transparent;
}

/*****************form*************/
input{
    width: 90%;
    height: 2rem;
    border: none;
    outline: none;
    margin-left: 1rem;
    font-size: 1rem;
}
input:hover,input:active{
    background-color: rgb(216, 208, 208);
    color: white;
}
.btnn{
    padding: 1rem 5rem;
    margin-left: 5rem;
    background-color: rgb(231, 65, 23) ;
    color: wheat;
    border: none;
    outline: none;
    margin-top: 2rem;
}
/*********mainpart************/
.mainpart{
    background-color: rgb(231, 65, 23)  ;
    position: fixed;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    font-variant: small-caps;
    letter-spacing: 2px;
    height: 4rem;
    display: none;
}
.close{
    display: none;
}
/***********responisve*********/
@media only screen and (max-width:1233px){

     .left{
        width: 47%;
    }
    .right{
 width: 47%;
    } 
  .leftside{
      display: none;
  }
  .rightside{
      width: 100%;
  }
  .mainpart{
      display: block;
  }
}
@media only screen and (max-width:670px){

.text{
    font-size: 1.3rem;
}


}
@media only screen and (max-width:500px){

    .left{
        width: 100%;
    }
    .right{
        width: 100%;
        margin-top: 2rem;
    }
}
@media only screen and (max-width:582px){
.design{
    width: 100%;
}
.wapper{
    margin-left: 0;
    margin-right: 0;
    }
    
}
@media only screen and (max-width:429px){

.details{
    /* width: 100%; */
    padding: 0;
}
.detail{
    display: block;
}
.persons{
    width: 90%;
}

}





